.hidden {
  display: none !important;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-flex {
  flex-basis: flex;
}
