* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.search-results-ul,
.read-shelf-list,
.to-read-shelf-list {
  list-style: none;
  padding: 0;
}

.mobile-navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

.library-books-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
