.background-color {
  background-color: #f2e7e2;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.box-shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.desktop-nav-view {
  display: none;
}

.logo {
  width: 40px;
}

.navbar {
  background-color: #f67070;
  height: 50px;
  padding: 0 25px;
}

.bottom-shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25), inset 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.title {
  font-family: Dosis, sans-serif;
  color: #f8f8ee;
  font-size: 26px;
  font-weight: 500;
}

.search-icon {
  color: #f8f8ee;
  font-size: 20px;
}

.nav-text {
  display: block;
  color: #f8f8ee;
  font-size: 20px;
  margin: 0;
}

.nav-items-padding {
  padding-left: 25px;
}

.home-icon,
.book-icon {
  color: #f8f8ee;
  font-size: 24px;
}

.book-icon {
  font-size: 26px;
}

.mobile-search-bar {
  width: 250px;
  height: 25px;
  margin-right: 10px;
  border-radius: 4px;
  border: solid #ced4da;
}

.nav-search-row {
  height: 100%;
}

.cancel-search {
  display: inline;
  text-align: center;
  font-family: Inter, sans-serif;
  color: #f8f8ee;
}

.cancel-search-desktop {
  display: inline;
  text-align: center;
  font-family: Inter, sans-serif;
  color: #f8f8ee;
  margin-left: 5px;
}

.desktop-search-bar {
  width: 170px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  border: solid #ced4da;
  margin-bottom: 10px;
}

.search-heading {
  color: #783b03;
  font-family: Inter, sans-serif;
  padding-top: 10px;
}

.search-bar {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border-radius: 4px;
  border: solid #ced4da;
  font-family: Inter, sans-serif;
}

.search-results-padding {
  padding: 20px 0;
}

.search-book-title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2px;
}

.book-details-container {
  margin-left: 10px;
}

.search-author,
.search-date,
.search-synopsis {
  font-family: Inter, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 2px 0;
}

.search-image {
  max-width: 128px;
}

.search-synopsis {
  padding-top: 10px;
}

.add-dropdown {
  font-family: Inter, sans-serif;
  font-size: 12px;
  margin-top: 10px;
  background-color: #f67070;
  color: #f8f8ee;
  height: 30px;
  border: none;
  border-radius: 2px;
}

.modal-background {
  background-color: rgba(0 0 0/ 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.book-details-modal-window {
  border: none;
  background-color: #f2e7e2;
  width: 80%;
  height: 22rem;
}

.book-modal-exit {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 18px;
}

.book-modal-padding {
  padding: 10px 25px;
}

.book-image {
  width: 80px;
  object-fit: contain;
}

.modal-book-details {
  font-family: Inter, sans-serif;
  margin-left: 10px;
}

.modal-book-title {
  font-size: 16px;
  margin: 0;
}

.modal-author,
.modal-date {
  font-size: 14px;
  margin: 5px 0;
}

.bookshelf-label,
.bookshelf-select,
.completed-date-label,
.completed-date-label-deselect {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.bookshelf-select,
.completed-date,
.completed-date-deselect {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #f67070;
  height: 30px;
  width: 100px;
  border: solid 1px;
  border-radius: 2px;
  text-align: center;
  margin-left: 5px;
}

.completed-date-label-deselect {
  color: rgb(174, 169, 169);
}

.completed-date-deselect {
  color: rgb(174, 169, 169);
}

.completed-date {
  width: 125px;
}

.modal-save-button {
  background-color: #f67070;
  color: #f2e7e2;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 90px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.my-books-heading {
  color: #783b03;
  font-family: Inter, sans-serif;
  margin: 20px 0 40px;
  text-align: center;
}

.no-books-text {
  color: #783b03;
  font-family: Inter, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.arrow-image-mobile {
  width: 18rem;
  position: fixed;
  top: 10px;
  left: -7rem;
}

.arrow-image-desktop {
  width: 150px;
  position: fixed;
  top: 80px;
  right: 15px;
  display: none;
}

.my-books-list-items {
  padding-bottom: 40px;
}

.library-row {
  width: 100%;
}

.library-books-detail-padding {
  padding-left: 10px;
}

.library-cover-img {
  width: 100px;
}

.library-book-title {
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: bolder;
  font-size: 16px;
}

.library-author-date,
.library-bookshelf-details,
.library-date-completed,
.library-not-completed {
  font-family: Inter, sans-serif;
  font-size: 14px;
  margin: 0;
  padding-top: 5px;
}

.library-not-completed {
  color: rgb(174, 169, 169);
}

.library-books-list {
  padding: 0 20px;
}

.home-read-shelf-title,
.home-to-read-shelf-title {
  font-family: Inter, sans-serif;
  font-size: 24px;
  color: #783b03;
  font-weight: normal;
  margin: 40px 0 0;
}

.read-shelf,
.to-read-shelf {
  width: 100%;
  height: 70px;
  position: relative;
  top: -25px;
  z-index: -1;
}

.home-cover-img {
  height: 100px;
  margin-top: 20px;
  box-shadow: 10px 2px 5px -5px rgba(0, 0, 0, 0.5);
}

.cover-li:nth-of-type(1n+4) {
  display: none;
}

.search-icon:hover,
.home-icon:hover,
.nav-item:hover,
.cancel-search:hover,
.cancel-search-desktop:hover,
.nav-text,
.add-dropdown:hover,
.book-modal-exit:hover,
.modal-save-button:hover,
.bookshelf-select:hover,
.completed-date:hover,
.home-read-shelf-title,
.home-to-read-shelf-title {
  cursor: pointer;
}

.search-icon:hover,
.home-icon:hover,
.cancel-search:hover,
.cancel-search-desktop:hover,
.book-modal-exit:hover,
.book-icon:hover {
  color: #783b03;
  transition: 1s;
}

.mobile-search-bar:focus,
.desktop-search-bar:focus,
.search-bar:focus,
.bookshelf-select:focus,
.completed-date:focus,
.add-dropdown:focus {
  outline: none;
  border-color: #783b03;
}

@media screen and (min-width: 768px) {
  .mobile-nav-view {
    display: none;
  }

  .desktop-nav-view {
    display: contents;
  }

  .navbar {
    height: 65px;
    padding: 0 45px;
  }

  .logo {
    width: 50px;
  }

  .title {
    font-size: 32px;
  }

  .home-icon,
  .search-icon {
    font-size: 24px;
  }

  .desktop-search-bar {
    margin-right: 0;
  }

  .cancel-search {
    font-size: 10px;
  }

  .search-bar {
    width: 90%;
    height: 35px;
  }

  .book-details-modal-window {
    width: 400px;
    height: 27rem;
  }

  .book-modal-exit {
    font-size: 24px;
  }

  .book-modal-padding {
    padding: 15px 45px;
  }

  .book-image {
    width: 100px;
    object-fit: contain;
  }

  .modal-book-title {
    font-size: 20px;
  }

  .modal-author,
  .modal-date {
    font-size: 16px;
  }

  .bookshelf-select,
  .completed-date,
  .completed-date-deselect {
    height: 25px;
    width: 120px;
  }

  .modal-save-button {
    margin-top: 40px;
  }

  .no-books-text {
    font-size: 20px;
  }

  .library-books-list {
    padding: 0;
  }

  .arrow-image-mobile {
    display: none;
  }

  .arrow-image-desktop {
    display: contents;
  }

  .home-read-shelf-title,
  .home-to-read-shelf-title {
    font-size: 32px;
    margin: 40px 0 0;
  }

  .home-cover-img {
    height: 140px;
    margin-top: 30px;
  }

  .cover-li:nth-of-type(1n+4) {
    display: contents;
  }
}
