.background-color {
  background-color: #f2e7e2;
}

/* Reusable classes */

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

/* Navbar  */

.box-shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.desktop-nav-view {
  display: none;
}

.logo {
  width: 40px;
}

.navbar {
  background-color: #f67070;
  height: 50px;
  padding: 0 1.56rem;
}

.bottom-shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25), inset 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.title {
  font-family: Dosis, sans-serif;
  color: #f8f8ee;
  font-size: 1.63rem;
  font-weight: 500;
}

.search-icon {
  color: #f8f8ee;
  font-size: 1.25rem;
}

.nav-text {
  display: block;
  color: #f8f8ee;
  font-size: 1rem;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.nav-items-padding {
  padding-left: 1.56rem;
}

.home-icon,
.book-icon,
.sign-out-icon,
.quotes-icon {
  color: #f8f8ee;
  font-size: 1.5rem;
}

.sign-out-button {
  background: none;
  border: none;
  padding: 0;
}

.mobile-search-bar {
  width: 70%;
  height: 25px;
  margin-right: 0.625rem;
  border-radius: 4px;
  border: solid #ced4da;
}

.nav-search-row {
  height: 100%;
}

.search-white-space {
  white-space: nowrap;
}

.cancel-search {
  display: inline;
  text-align: center;
  font-family: Inter, sans-serif;
  color: #f8f8ee;
}

.cancel-search-desktop {
  display: inline;
  text-align: center;
  font-family: Inter, sans-serif;
  color: #f8f8ee;
  margin-left: 0.31rem;
}

.desktop-search-bar {
  width: 70;
  height: 30px;
  border-radius: 4px;
  border: solid #ced4da;
  margin-bottom: 0.63rem;
}

/* Search Results */

.search-heading {
  color: #783b03;
  font-family: Inter, sans-serif;
  padding-top: 0.63rem;
}

.search-bar {
  width: 100%;
  margin-top: 0.31rem;
  height: 30px;
  border-radius: 4px;
  border: solid #ced4da;
  font-family: Inter, sans-serif;
}

.search-results-padding {
  padding: 1.25rem 0;
}

.search-book-title {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.13rem;
}

.book-details-container {
  margin-left: 0.63rem;
}

.search-author,
.search-date,
.search-synopsis {
  font-family: Inter, sans-serif;
  font-size: 0.88rem;
  margin: 0;
  padding: 0.125rem 0;
}

.search-image {
  max-width: 128px;
}

.search-synopsis {
  padding-top: 0.625rem;
}

.no-books-search {
  font-family: Inter, sans-serif;
  color: #783b03;
  font-size: 0.9rem;
}

.add-dropdown {
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  margin-top: 0.625rem;
  background-color: #f67070;
  color: #f8f8ee;
  padding: 0.5rem 0;
  border: none;
  border-radius: 2px;
}

/* Book Entry Details */

.modal-background {
  background-color: rgba(0 0 0/ 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.book-details-modal-window {
  border: none;
  background-color: #f2e7e2;
  width: 85%;
  height: 33rem;
}

.book-modal-exit {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 1.125rem;
}

.book-modal-padding {
  padding: 0.625rem 1.56rem;
}

.book-image {
  width: 80px;
  object-fit: contain;
}

.modal-book-details {
  font-family: Inter, sans-serif;
  margin-left: 0.625rem;
}

.modal-book-title {
  font-size: 1rem;
  margin: 0;
}

.modal-author,
.modal-date {
  font-size: 0.875rem;
  margin: 0.31rem 0;
}

.bookshelf-label,
.bookshelf-select,
.completed-date-label,
.completed-date-label-deselect,
.quote-label,
.page-number-label {
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

.bookshelf-select,
.completed-date,
.completed-date-deselect {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  color: #f67070;
  height: 30px;
  width: 100px;
  border: solid 1px;
  border-radius: 2px;
  text-align: center;
  margin-left: 0.31rem;
}

.completed-date-label-deselect {
  color: rgb(174, 169, 169);
}

.completed-date-deselect {
  color: rgb(174, 169, 169);
}

.completed-date {
  width: 125px;
}

.quote-input {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  width: 100%;
  margin-top: 0.625rem;
  height: 6rem;
  border: solid #f67070 1px;
  border-radius: 2px;
}

.page-number-input {
  margin-left: 0.31rem;
  border: solid #f67070 1px;
  border-radius: 2px;
  width: 100px;
  height: 23px;
}

.book-modal-padding-page-number {
  padding: 0 1.56rem 0.625rem;
}

.modal-save-button {
  background-color: #f67070;
  color: #f2e7e2;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 90px;
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  margin-top: 0.8rem;
}

/* My Books */

.my-books-heading,
.favorite-quotes-heading {
  color: #783b03;
  font-family: Inter, sans-serif;
  margin: 1.25rem 0 2.5rem;
  text-align: center;
}

.no-books-text {
  color: #783b03;
  font-family: Inter, sans-serif;
  text-align: center;
  margin-top: 1.25rem;
}

.my-books-list-items {
  padding-bottom: 2.5rem;
}

.library-row {
  width: 100%;
}

.library-books-detail-padding {
  padding-left: 0.625rem;
}

.library-cover-img {
  width: 100px;
}

.library-book-title {
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: bolder;
  font-size: 1rem;
}

.library-author-date,
.library-bookshelf-details,
.library-date-completed,
.library-not-completed {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  margin: 0;
  padding-top: 0.31rem;
}

.library-not-completed {
  color: rgb(174, 169, 169);
}

.library-books-list {
  padding: 0 1.25rem;
}

.trash-icon {
  color: #783b03;
  padding-top: 0.31rem;
}

/* Home Page */

.home-read-shelf-title,
.home-to-read-shelf-title {
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  color: #783b03;
  font-weight: normal;
  margin: 2rem 0 0;
  display: inline-block;
}

.home-to-read-shelf-title {
  margin-top: 0;
}

.read-shelf,
.to-read-shelf {
  width: 100%;
  height: 70px;
  position: relative;
  top: -25px;
  z-index: -1;
}

.home-cover-img {
  height: 100px;
  margin-top: 1.25rem;
  box-shadow: 10px 2px 5px -5px rgba(0, 0, 0, 0.5);
}

.cover-li:nth-of-type(1n+4) {
  display: none;
}

.home-placeholder-text {
  font-family: Inter, sans-serif;
  font-size: 0.94rem;
  color: #f67070;
  position: relative;
  top: -40px;
}

.placeholder-books {
  width: 200px;
}

.placeholder-column-size {
  height: 100px;
}

/* Auth (sign-in and sign-up) */

.auth-background {
  background-color: rgb(157, 16, 16);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

.auth-top-padding {
  padding-top: 2rem;
}

.auth-logo {
  width: 60px;
  display: inline;
  vertical-align: middle;
  margin-left: -3rem;
}

.auth-title {
  display: inline-block;
  vertical-align: middle;
  font-family: "Anek Latin", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}

.auth-welcome-message {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-top: 0;
  font-weight: 200;
  color: white;
}

.display-flex {
  display: flex;
}

.auth-form-background-sign-up,
.auth-form-background-sign-in {
  background-color: #ffe99b;
  width: 100%;
  height: 25rem;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.65);
}

.auth-form-background-sign-in {
  height: 16rem;
  margin-top: 2rem;
}

.invalid-login-message {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  color: #a50505;
  position: absolute;
  left: 15%;
  top: -2rem;
}

.position-relative {
  position: relative;
}

.auth-form-label {
  display: block;
  font-family: Inter, sans-serif;
  color: #152536;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.auth-form-field {
  border: solid 1px lightgray;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  font-family: Inter, sans-serif;
  color: #152536;
}

.form-margin-bottom {
  margin-bottom: 1rem;
}

.auth-form-margin-top {
  margin-top: 1.1rem;
}

.username-error {
  font-family: Inter, sans-serif;
  color: #a50505;
  font-size: 0.65rem;
  margin-top: -0.8rem;
}

.password-x {
  color: red;
  font-size: 1.3rem;
  position: absolute;
  top: 1.7rem;
}

.password-check {
  color: rgb(110, 180, 6);
  font-size: 1.3rem;
  position: absolute;
  top: 1.6rem;
}

.password-reqs {
  font-family: Inter, sans-serif;
  color: #4c4d4e;
  font-size: 0.6rem;
  margin-top: 0.2rem;
}

.sub-reqs {
  display: block;
  padding-left: 0.7rem;
}

.guest-link {
  font-family: Inter, sans-serif;
  color: #783b03;
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 0 0;
}

.auth-button {
  font-family: Inter, sans-serif;
  color: #f8f8ee;
  background-color: #f67070;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 2px;
}

.auth-redirect-link {
  text-decoration: underline 0.8px;
  color: #152536;
  font-family: Inter, sans-serif;
  font-size: 0.7rem;
}

.break {
  display: block;
  content: "";
  margin-top: -0.1rem;
}

/* Quotes */

.quote {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.quote-details {
  font-family: Inter, sans-serif;
  font-size: 0.7rem;
  text-align: center;
  margin: 0 0 2rem;
}

.no-quotes-placeholder-text {
  font-family: Inter, sans-serif;
  text-align: center;
  color: #783b03;
  font-size: 1.25rem;
}

/* Delete Modal */

.delete-modal-window {
  background-color: #f2e7e2;
  width: 20rem;
  height: 15rem;
}

.delete-modal-exit {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 1.5rem;
}

.delete-modal-padding {
  padding: 0 2rem;
}

.delete-modal-text {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
  margin-bottom: 3rem;
}

.delete-button,
.no-button {
  border: none;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  color: white;
  border-radius: 4px;
  padding: 0.7rem 0;
  width: 100px;
}

.delete-button {
  background-color: #392191;
}

.no-button {
  background-color: #f67070;
}

/* Pseudo-classes */

.search-icon:hover,
.home-icon:hover,
.sign-out-icon:hover,
.nav-item:hover,
.cancel-search:hover,
.cancel-search-desktop:hover,
.nav-text:hover,
.add-dropdown:hover,
.book-modal-exit:hover,
.modal-save-button:hover,
.bookshelf-select:hover,
.completed-date:hover,
.home-read-shelf-title,
.home-to-read-shelf-title,
.auth-button:hover,
.guest-link:hover,
.trash-icon:hover,
.delete-modal-exit:hover,
.delete-button:hover,
.no-button:hover {
  cursor: pointer;
}

.nav-link:hover *,
.search-icon:hover,
.home-icon:hover,
.sign-out-icon:hover,
.cancel-search:hover,
.cancel-search-desktop:hover,
.book-modal-exit:hover,
.book-icon:hover,
.quotes-icon:hover,
.delete-modal-exit:hover {
  color: #783b03;
  transition: 1s;
}

.home-read-shelf-title:hover,
.home-to-read-shelf-title:hover,
.trash-icon:hover {
  color: #f7963c;
  transition: 1s;
}

.mobile-search-bar:focus,
.desktop-search-bar:focus,
.search-bar:focus,
.bookshelf-select:focus,
.completed-date:focus,
.add-dropdown:focus,
.quote-input:focus,
.page-number-input:focus {
  outline: none;
  border-color: #783b03;
}

.auth-form-field:focus {
  outline: none;
  border-color: #f67070;
}

/* Loading Spinner */

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.loading-spinner-container {
  position: fixed;
  top: 50%;
  left: 30%;
  animation: grow-and-shrink 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading-spinner-background {
  color: #5a2f04;
}

.loading-spinner {
  font-size: 6rem;
  color: #eedbdb;
}

@media screen and (min-width: 768px) {
  .mobile-nav-view {
    display: none;
  }

  .desktop-nav-view {
    display: contents;
  }

  .navbar {
    height: 65px;
    padding: 0 2.8rem;
  }

  .logo {
    width: 50px;
  }

  .title {
    font-size: 2rem;
  }

  .cancel-search {
    font-size: 0.625rem;
  }

  .search-bar {
    width: 90%;
    height: 35px;
  }

  .no-books-search {
    font-size: 0.625rem;
  }

  .book-details-modal-window {
    width: 400px;
    height: 38rem;
  }

  .book-modal-exit {
    font-size: 1.5rem;
  }

  .book-modal-padding {
    padding: 0.94rem 2.81rem;
  }

  .book-modal-padding-page-number {
    padding: 0 2.81rem 0.94rem;
  }

  .book-image {
    width: 100px;
    object-fit: contain;
  }

  .modal-book-title {
    font-size: 1.25rem;
  }

  .modal-author,
  .modal-date {
    font-size: 1rem;
  }

  .bookshelf-select,
  .completed-date,
  .completed-date-deselect {
    height: 25px;
    width: 120px;
  }

  .modal-save-button {
    margin-top: 0.5rem;
  }

  .no-books-text {
    font-size: 1.25rem;
  }

  .library-books-list {
    padding: 0;
  }

  .library-books-list li:nth-child(even) {
    padding-left: 2rem;
  }

  .home-read-shelf-title,
  .home-to-read-shelf-title {
    font-size: 2rem;
    margin: 2.5rem 0 0;
  }

  .home-cover-img {
    height: 140px;
    margin-top: 1.875rem;
  }

  .cover-li:nth-of-type(1n+4) {
    display: contents;
  }

  .home-placeholder-text {
    font-size: 1.06rem;
    position: relative;
    top: -80px;
  }

  .placeholder-books {
    width: 300px;
  }

  .placeholder-column-size {
    height: 155px;
  }

  .auth-form-background-sign-up {
    width: 30rem;
    height: 26rem;
  }

  .auth-form-background-sign-in {
    width: 30rem;
    height: 17rem;
  }

  .auth-logo {
    width: 70px;
  }

  .auth-title {
    font-size: 2.6rem;
  }

  .auth-welcome-message {
    font-size: 1.2rem;
  }

  .username-error {
    font-size: 0.8rem;
  }

  .password-reqs {
    font-size: 0.75rem;
  }

  .auth-form-margin-top {
    margin-top: 1.7rem;
  }

  .auth-button {
    padding: 0.6rem 0.7rem;
  }

  .auth-redirect-link {
    font-size: 0.8rem;
  }

  .invalid-login-message {
    left: 30%;
  }

  .quote {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .quote-details {
    font-size: 1rem;
    margin: 0 0 2rem;
  }

  .delete-modal-window {
    width: 25rem;
    height: 20rem;
  }

  .delete-modal-exit {
    font-size: 2rem;
  }

  .delete-modal-padding {
    padding: 0 2.5rem;
  }

  .delete-modal-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 1rem 0 4rem;
  }

  .delete-button,
  .no-button {
    font-size: 1rem;
    padding: 1rem 0;
    width: 120px;
  }

  @keyframes grow-and-shrink {
    50% {
      transform: scale(2);
    }
  }

  .loading-spinner-container {
    left: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .desktop-search-bar {
    width: 150px;
  }
}
